*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


/* utility */

:root{
--header: #FF6900;
--footer: #1A1A1A;
--eco: #008000;
--discount: #FF0000;
}

.d-flex{
    display: flex;
    flex-flow: row wrap;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}


.space-around{
    justify-content: space-around;
}
/* classes, tags and selectors */

a{
    text-decoration: none;
    color:white;
    padding-left: 10px;
}

body {
    font-family: 'Noto Sans', sans-serif;
}


header{
    background-color: var(--header);
    width:100%;
    position:fixed;
    z-index: 1;
}

 /* navigator */

nav{
    padding: 15px 15px;
}

nav div{
    max-width: 30%;
}

nav img{
    width:100px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}


 /* main */

.debug{
    background-color: lightblue;
    border: 2px solid black;
}